a {
    text-decoration: none;
  }

.header__nav {

  padding-bottom: 50px;

  &-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    z-index: 1;
    list-style: none;
    margin-left: -25px;

  }

  &-item {
    font-family: "Arial", serif;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0px;
    padding-right: 15px;
    
  }
}
